# Dependencies (recursivo para monorepos)
node_modules
**/node_modules
.pnpm-store

# Next.js & Turborepo Builds
.next
**/.next
.turbo

# Environment & Logs
.env
*.local
*.log

# System & Dist
.DS_Store
dist
dist-ssr